body {
  margin: 0;
}

.main-container {
  display: grid;
  grid-gap: 5px;
  min-height: 100%;
  grid-template-areas:
    "header header header header"
    "aside aside aside aside"
    "section section section section"
    "footer footer footer footer";
}

@media (min-width: 700px) {
  .main-container {
    min-height: 100%;
    grid-template-areas:
      "header header header header"
      "section section section aside"
      "footer footer footer footer";
  }
}

header {
  grid-area: header;
}

section {
  grid-area: section;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}
